<!DOCTYPE html>
<html lang="fr">
<head>
	{% load i18n %}
	{% load static %}
	<meta charset="UTF-8">
	<title>Accueil</title>
	<link type="text/css" rel="stylesheet" href="{% static "web/css/foundation.css" %}" />
	<link type="text/css" rel="stylesheet" href="{% static "web/css/app.css" %}" />
	<link type="text/css" rel="stylesheet" href="{% static "web/css/accueil.css" %}" />
	<link type="text/css" rel="stylesheet" href="{% static "web/css/font-awesome/css/font-awesome.min.css" %}" />
	<link type="text/css" rel="stylesheet" href='https://fonts.googleapis.com/css?family=Roboto+Condensed:300,400,700'>
	<link type="text/css" rel="stylesheet" href='https://fonts.googleapis.com/css?family=Roboto:300,400,700'>
</head>
<body>
	<div class="box-wrapper">
		<div class="small-12 medium-6 columns box-container-style">
			<div class="box-style box-left">
				<h2 class="box-item-style box-titre">Informations&nbsp<span class="bold"> Générales</span></h2>
				<hr class="box-titre-hr">
				<div id="info_message" class="box-item-style box-part">
					<img src="{% static "web/img/accueil/icon_mail.png" %}" class="box-icon">
					<p class="box-icon-text box-text">Aucun message important pour l’instant</p>
				</div>
				<div class="box-item-style box-part">
					<img src="{% static "web/img/accueil/icon_pay.png" %}" class="box-icon">
					<div class="small-12" style="display: block; width: 100%; margin-top: 3px;">
						<h3 class="box-sous-titre">Facture :</h3>
						<div class="small-12" style="display: inline-block;">
							<div class="flex small-12" style="flex-wrap: wrap;">
								<a><img class="pay-icon_pdf" src="{% static "web/img/accueil/icon_pdf.png" %}"></a>
								<div class="pay-text">
									<h4 class="box-text-titre">Tente Arpenaz</h4>
									<h5 class="box-text-titre">Terminé le: 08/07/2016</h5>
									<h5 class="box-text-imp">À payer avant le: 25/07/2016</h5>
								</div>
								<div class="flex-child text-right">
									<a><button class="pay-button">Payer</button></a>
								</div>
							</div>
						</div>
						<hr class="pay-hr">
						<h4 style="font-size: 20px; margin-left: 20px;" class="box-text-titre"><i class="fa fa-caret-down" aria-hidden="true"></i>&nbsp&nbsp<span class="underline">Voir tout</span></h4>
					</div>
				</div>
				<div id="info_statut" class="box-item-style box-part" style="padding-bottom: 30px">
					<img src="{% static "web/img/accueil/icon_statut_o.png" %}" class="box-icon">
					<p style="display: block; margin-top: 6px; line-height: 1.2" class="box-icon-text box-text">Vous avez des factures non-payées, réglez-les avant la date limite pour éviter de suspendre votre activité sur Clickerman.</p>
				</div>
			</div>
			<div class="box-style box-left" style="padding-bottom: 10px">
				<h2 class="box-item-style box-titre" style="line-height: 1; padding-top:20px;">Mes&nbsp<span style="font-weight: bold">Statistiques</span></h2>
				<hr class="box-titre-hr">
				<div class="box-item-style box-part" style="text-align: center; ">
					<img src="{% static "web/img/accueil/img_chart.png" %}" style="margin: auto">
				</div>
				<hr style="width: 50%; border: 1px solid #616161">
				<div id="box-statistic-container">
					<p class="box-sous-titre"><span class="bold">Fans</span> rapportés par Clickerman</p>
					<div class="box-statistic">
						<img src="{% static "web/img/accueil/icon_m-fb.png" %}">
						<h3 class="bold">+2562</h3>
					</div>
					<div class="box-statistic">
						<img src="{% static "web/img/accueil/icon_m-inst.png" %}">
						<h3 class="bold">+2562</h3>
					</div>
					<div class="box-statistic">
						<img src="{% static "web/img/accueil/icon_m-twit.png" %}">
						<h3 class="bold">+2562</h3>
					</div>
					<div class="box-statistic">
						<img src="{% static "web/img/accueil/icon_m-gplus.png" %}">
						<h3 class="bold">+2562</h3>
					</div>
				</div>
			</div>
		</div>
		<div class="small-12 medium-6 columns box-container-style">
			<div class="box-style box-right" style="margin-bottom: 15px">
				<p class="box-item-style box-titre">Mes&nbsp<span class="bold"> Lots</span></p>
				<hr class="box-titre-hr">
				<button class="box-text-titre box-item-style box-part box-button">
					<i class="fa fa-plus flex-child" style="max-width: 30px; padding-top: 7px" aria-hidden="true"></i>
					<p class="flex-child text-center">Ajouter un lot</p>
				</button>
				<div class="box-item-style box-part">
					<img src="{% static "web/img/accueil/img/icon_l-cours.png" %}" class="box-icon">
					<div class="box-img-container">
						<p class="box-sous-titre">Lots en <span class="bold">cours :</span></p>
						<div>
							<button class="box-img-product" style="background: url('./img/img_item.jpg'); background-size: cover"></button>
							<button class="box-img-product" style="background: url('./img/img_item.jpg'); background-size: cover"></button>
							<button class="box-img-product" style="background: url('./img/img_item.jpg'); background-size: cover"></button>
							<button class="box-img-product" style="background: url('./img/img_item.jpg'); background-size: cover"></button>
							<button class="box-img-product" style="background: url('./img/img_more.jpg'); background-size: cover"></button>
						</div>
					</div>
				</div>
				<div class="box-item-style box-part">
					<img src="{% static "web/img/accueil/icon_l-nsent.png" %} class="box-icon">
					<div class="box-img-container">
						<p class="box-sous-titre">Lots terminés, <span class="bold">à envoyés :</span></p>
						<div>
							<button class="box-img-product" style="background: url('./img/img_item.jpg'); background-size: cover"></button>
							<button class="box-img-product" style="background: url('./img/img_item.jpg'); background-size: cover"></button>
							<button class="box-img-product" style="background: url('./img/img_item.jpg'); background-size: cover"></button>
							<button class="box-img-product" style="background: url('./img/img_item.jpg'); background-size: cover"></button>
							<button class="box-img-product" style="background: url('./img/img_more.jpg'); background-size: cover"></button>
						</div>
					</div>
				</div>
				<div class="box-item-style box-part">
					<img src="{% static "web/img/accueil/icon_l-nvalid.png" %}" class="box-icon">
					<div class="box-img-container">
						<p class="box-sous-titre">Lots terminés, envoyés, <span class="bold">non-validés :</span></p>
						<div>
							<button class="box-img-product" style="background: url('./img/img_item.jpg'); background-size: cover"></button>
							<button class="box-img-product" style="background: url('./img/img_item.jpg'); background-size: cover"></button>
							<button class="box-img-product" style="background: url('./img/img_item.jpg'); background-size: cover"></button>
							<button class="box-img-product" style="background: url('./img/img_item.jpg'); background-size: cover"></button>
							<button class="box-img-product" style="background: url('./img/img_more.jpg'); background-size: cover"></button>
						</div>
					</div>
				</div>
				<div class="box-item-style box-part">
					<img src="{% static "web/img/accueil/icon_l-non.png" %}" class="box-icon">
					<div class="box-img-container">
						<p class="box-sous-titre">Lots <span class="bold">non-démarrés :</span></p>
						<div>
							<button class="box-img-product" style="background: url('img/img_item.jpg'); background-size: cover"></button>
							<button class="box-img-product" style="background: url('img/img_item.jpg'); background-size: cover"></button>
							<button class="box-img-product" style="background: url('img/img_item.jpg'); background-size: cover"></button>
							<button class="box-img-product" style="background: url('img/img_item.jpg'); background-size: cover"></button>
							<button class="box-img-product" style="background: url('img/img_more.jpg'); background-size: cover"></button>
						</div>
					</div>
				</div>
				<button style="background: #3b8183;" class="box-text-titre box-item-style box-part box-button">
					<i class="fa fa-caret-down" style="flex:1; max-width: 30px; padding-top: 7px" aria-hidden="true"></i>
					<p class="flex-child text-center">Lots archivés</p>
				</button>
				<div style="padding-bottom: 10px;"></div>
			</div>
			<div class="box-style box-right">
				<p class="box-item-style box-titre">Mon&nbsp<span class="bold">profil</span></p>
				<hr class="box-titre-hr">
				<button class="box-text-titre box-item-style box-part box-button">
					<img class="flex-child" style="max-width: 17px; margin-left: 13px; padding-top: 9px" src="{% static "web/img/accueil/icon_m-edit.png" %}"></i>
					<p class="flex-child text-center">Modifier mon profil</p>
				</button>
				<div class="box-item-style box-part">
					<img src="{% static "web/img/accueil/icon_m-profil.png" %}"" class="box-icon">
					<h4 class="box-text-media bold">Leroy Merlin Villeneuve d’Asq</h4>
				</div>
				<div class="box-item-style box-part">
					<img src="{% static "web/img/accueil/icon_m-geotag.png" %}" class="box-icon">
					<h4 class="box-text-media">Rue Chanzy- Lezennes, 59712 Lille</h4>
				</div>
				<div class="box-item-style box-part">
					<img src="{% static "web/img/accueil/icon_m-link.png" %}" class="box-icon">
					<h4 class="box-text-media">www.leroymerlin.fr</h4>
				</div>
				<div class="box-item-style box-part">
					<img src="{% static "web/img/accueil/icon_m-fb.png" %}" class="box-icon">
					<h4 class="box-text-media">https://www.facebook.com/leroy.merlin</h4>
				</div>
				<div class="box-item-style box-part">
					<img src="{% static "web/img/accueil/icon_m-twit.png" %}" class="box-icon">
					<h4 class="box-text-media">https://www.twitter.com/leroymerlin</h4>
				</div>
				<div class="box-item-style box-part">
					<img src="{% static "web/img/accueil/icon_m-inst.png" %}" class="box-icon">
					<h4 class="box-text-media">https://www.instagram.com/leroymerlin</h4>
				</div>
				<div class="box-item-style box-part">
					<img src="{% static "web/img/accueil/icon_m-gplus.png" %}" class="box-icon">
					<h4 class="box-text-media">https://plus.google.com/leroymerlin</h4>
				</div>
				<div class="box-item-style box-part" style="padding-bottom:10px">
					<img src="{% static "web/img/accueil/icon_m-snap.png" %}" class="box-icon">
					<h4 class="box-text-media">LeroyMerlin</h4>
				</div>
			</div>
		</div>
	</div>
	<script type="text/javascript" src="{% static "web/js/jquery-3.1.1.min.js" %}"></script>
	<script type="text/javascript" src="{% static "web/js/app.js" %}"></script>
</body>