body {
	-webkit-font-smoothing: antialiased;
	-moz-font-smoothing: antialiased;
	-o-font-smoothing: antialiased;
}

.flex
{
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	flex-wrap: wrap;
}

.flex-child
{
	-webkit-flex: 1;
	-ms-flex: 1;
	flex: 1;
}

.flex-center
{
	justify-content: center;
	align-items: center;
}

.text-left
{
	text-align : left;
}

.text-right
{
	text-align : right;
}

.text-center
{
	text-align : center;
}

.bold
{
	font-weight:bold;
}

.text-smaller
{
	font-size: 15px !important;
}