#main_container {
	text-align : center;
	min-height: 100vh;
	background-position: center;
	background-size: cover;
	position: relative;
	padding-left: 10px;
	padding-right: 10px;
}

#main_container > div {
	display: inline-block;
	text-align: center;
}

#center_container {
	margin-bottom: 140px;
}

#center_container > * {
	color: white;
	line-height: 1;
	margin: 10px;
}

#center_container > h1 {
	font-size: 100px;
	padding-right: 40px;
	padding-left: 40px;
	font-weight: 100;
	font-size: 100px;
}	

#center_container > h3 {
	font-weight: 400;
	font-size: 25px;
}

#center_container > p {
	font-weight: 600;
	font-size: 40px;
}

#center_container > label {
	font-weight: 100;
	font-size: 35px;
}

#player_score {
	font-weight: 600;
	font-size: 40px;
}

#contact_us
{
	position: absolute;
	width: 100%;
	text-align: center;
	bottom: 0;
	padding-bottom: 25px;
	padding-left: 10px;
	padding-right: 10px;
}

#contact_us > p
{
	font-weight: 100;
	font-size: 18px;
	color: white;
	line-height: 1.2;
}