#main_container
{
	text-align : center;
	padding: 20px;
}

#main_container > div
{
	display: inline-block;
	text-align: center;
}

#login_container
{
	width: 100%;
	max-width: 300px;
	background-color: #edecec;
	padding: 10px;
	padding-top: 20px;
	margin-bottom: 10px;
	vertical-align: middle;
}

#login_container > h1
{
	font-family: 'Roboto Condensed';
	margin-bottom: 30px;
}

#password_lost
{
	display: block;
	margin-bottom: 10px;
}

#main_container:before {
	content: "";
	display: inline-block;
	vertical-align: middle;
	height: 100%;
}

#form_login > div > div > input[type="submit"]
{
	width: 100%;
	max-width: 150px;
}

.form_field
{
	margin-bottom: 0px !important;
}