{% extends 'base.html' %}
{% load static %}

{% block title %}
Se connecter
{% endblock %}

{% block css %}
<link type="text/css" rel="stylesheet" href="{% static "web/css/register.css" %}"/>
{% endblock %}

{% block content %}

<div id="main_container" class="fill_page flex flex-center" style="background-image: url({% static "web/img/register/background.jpg" %});">
  <div id="center_container" class="flex-child">
    <h1>Connection</h1>
    <form method="post" action="{% url 'account:login' %}" class="form">
      {% csrf_token %}
      <div class="row">
        <div class="columns">
          {{ form.username }}
          <div class="error_text">
            {{ form.username.errors }}
          </div>
        </div>
      </div>
      <div class="row">
        <div class="columns">
          {{ form.password }}
          <div class="error_text">
            {{ form.password.errors }}
          </div>
        </div>
      </div>
      <div class="row">
        <div class="columns">
          <a href="#" id="password_lost">Mot de passe oublié ?</a>
        </div>
      </div>
      <div class="row">
        <div class="columns">
          <input type="submit" class="button success" value="login" class="login_button">
          <input type="hidden" name="next" value="{{ next }}">
        </div>
      </div>
      <div class="row">
        <div class="columns">
          <a href="/account/register"><button type="button" class="button" class="login_button">Créer un compte</button></a>
        </div>
      </div>
    </form>
  </div>
</div>
{% endblock %}

{% block js %}
{% endblock %}