<!DOCTYPE html>
<html lang="en">
<head>
	{% load i18n %}
	{% load static %}
	<meta charset="UTF-8">
	<title>Connexion</title>
	<link type="text/css" rel="stylesheet" href="{% static "web/css/app.css" %}" />
	<link type="text/css" rel="stylesheet" href='https://fonts.googleapis.com/css?family=Roboto+Condensed:300,400,700'>
	<link type="text/css" rel="stylesheet" href='https://fonts.googleapis.com/css?family=Roboto:300,400,700'>
</head>
<body>
	<div class="flex flex-center" style="position: absolute; height: 100%; width: 100%; left: 0; top: 0; text-align: center; background: red">
		<div id="window" class="flex-child" style=" background: white; max-width: 320px; width: 100%; position: relative">
			<h1 id="window_title"><span style="padding-left: 25px;">Connexion</span></h1>
			<div style="padding: 25px">
				<form id="form_login" method="post" action="{% url 'login' %}">
					{{ auth_form.non_field_errors }}
					<div style="margin-bottom: 15px;">
						{{ auth_form.username.errors }}
						<input type="text" name="username" id="id_username" placeholder="{% trans "Username" %}" class="login_input">
					</div>
					<div style="margin-bottom: 20px">
						{{ auth_form.password.errors }}
						<input type="password" name="password" id="id_password" placeholder="{% trans "Password" %}" class="login_input">
					</div>
					<div>
						<input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">
						<input type="submit" value="{% trans "Log in" %}" class="login_button">
						<input type="hidden" name="next" value="{{ next }}">
					</div>
				</form>
				<hr style="width: 50%; border: 1px solid #f50; margin-top: 20px; margin-bottom: 20px; ">
				<div>
					<button class="login_button">Créer un compte</button>
				</div>
			</div>
			<img src="{% static "web/img/cross.png" %}">
		</div>
	</div>
</div>
</body>
</html>